[Unit]
Description=Start Compton Window Compositor
After=xorg.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=compton --config /home/danh/.config/compton/compton.conf

[Install]
RequiredBy=xorg.target
