[Unit]
Description=Sources xinitrc
After=xorg.target

[Service]
Type=simple
Environment="DISPLAY=:0"
ExecStart=/home/danh/.xinitrc

[Install]
RequiredBy=xorg.target
