[Unit]
Description=Configure monitors
After=xorg.target

[Service]
Type=oneshot
Environment="DISPLAY=:0"
ExecStart=/home/danh/.scripts/monitors.sh

[Install]
RequiredBy=xorg.target
