[Unit]
Description=Launch polybar
After=pywal.service xorg.target monitor.service

[Service]
Environment="DISPLAY=:0"
Type=forking
ExecStart=/home/danh/.config/polybar/launch.sh

[Install]
RequiredBy=xorg.target
