[Unit]
Description=Enable pywal if it is installed on the system
After=bspwm.service xorg.target monitor.service

[Service]
Type=oneshot
Environment="DISPLAY=:0"
SuccessExitStatus=0 1
ExecStart=wal -R

[Install]
RequiredBy=xorg.target
