#xorg.target is a virtual target
#Active when Xorg is ready to accept connections

[Unit]
Description=Xorg server
#Requires=xorg-server@0.service
#After=default.target

#[Install]
#WantedBy=default.target
